:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box{
  width: 100px;
  height: 100px;
  padding: 50px;
  border: solid 2px red;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  border-radius: 20px;
  
}

.h1{
  width: 100px;
  height: 100px;
  margin: 50px;
  color: red;
  font-size: 3rem;
}

