:root{
    --color1: #3c7a89;
    --color2: #2e4756;
    --color3: #16262e;
    --color4: #9fa2b2;
    --color5: #dbc2cf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

#timeup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10%;
}

#cronometro{
  width: 80%;
  height: 15%;
  background-color: var(--color5);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.517);
  border: 1px solid var(--color3);
  border-radius: 10px;
  color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
     padding-bottom: 10%;
}

#entry{
  height: 7%;
  width: 90%;
    background-color: var(--color2);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.517);
  border: 1px solid var(--color5);
  border-radius: 10px;
  color: var(--color5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
   
}

#local{
  height: 7%;
  width: 90%;
    background-color: var(--color2);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.517);
    border: 1px solid var(--color5);
    border-radius: 10px;
    color: var(--color5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
   
}

#desfichar{
    height: 8%;
    width: 90%;
    color: var(--color3);
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.413);
    border: 1px solid var(--color3);
    background-image: linear-gradient(to bottom, rgb(233, 24, 24), rgb(231, 102, 102) );
    font-size: 2rem;
    transition: 0.3s;
}

@media (min-width: 850px){
  #timeup{
    width: 800px;
  }
}