:root{
  --color1: #3c7a89;
  --color2: #2e4756;
  --color3: #16262e;
  --color4: #9fa2b2;
  --color5: #dbc2cf;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  body{
    background-image: linear-gradient(to bottom, var(--color1), var(--color3));
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  #brand{
    color: var(--color5);
    font-size: 3rem;
    position: absolute;
    top: 50px;
    letter-spacing: 5px;
    color: var(--color5);
    text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.487);
    border: 1px solid var(--color5);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.486);
    background-color: var(--color2);
}

  #login{
    padding: 20px;
    position: absolute;
    top: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 40%;
    width:80%;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color2);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.517);
    border: 1px solid var(--color5);
}

  div input {
    background-color: white;
    height: 15%;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
}

#submit{
    width: 45%;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color:var(--color5);
    color: var(--color2);
    transition: 0.3s;
}

#submit:hover{
  position: relative;
  transform: scale(1.1);
  box-shadow: 1px 1px 7px white;
}

  footer{
    position: absolute;
    bottom: 20px;
    color: var(--color5);
    font-size: 1.2rem;
    text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.437);
}

  