:root{
    --color1: #3c7a89;
    --color2: #2e4756;
    --color3: #16262e;
    --color4: #9fa2b2;
    --color5: #dbc2cf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

#principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 320px;
    
}

#navbar{
    display: flex;
    justify-content: space-around;
    gap: 120px;
    width: 100%;
}

#historic{
    width: 100px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color:var(--color2);
    color: var(--color5);
    transition: 0.3s;
    border: 1px solid var(--color5);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.487);
}

#edit{
    width: 100px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color:var(--color2);
    color: var(--color5);
    transition: 0.3s;
    border: 1px solid var(--color5);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.487);
}

#historic:hover{
    position: relative;
  transform: scale(1.1);
  box-shadow: 1px 1px 7px white;
}

#edit:hover{
    position: relative;
  transform: scale(1.1);
  box-shadow: 1px 1px 7px white;
}

#bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#welcome{
    font-size: 1.5rem;
    color: var(--color5);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 2rem;
}

#nameWelcome{
    color: var(--color2);
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
    font-size: 3.5rem;

}

#worked{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 20px;
    position: relative;
    bottom: 75px;
    background-color: var(--color2);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.517);
    border: 2px solid var(--color5);
    border-radius: 20px;
    color: var(--color5);
}

#fichar{
    height: 100px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.413);
    border: 2px solid var(--color3);
    background-image: linear-gradient(to bottom, green, rgb(224, 224, 224) );
    font-size: 2rem;
    transition: 0.3s;
    position: relative;
    bottom: 120px;
}

#fichar:hover{
    box-shadow: 0.1px 0.1px 20px white;
    position: relative;
    scale: 1.1;
    cursor: pointer;
}